<!DOCTYPE HTML>

<!-The homepage is index.html...save each solution as "en.html" 
	where n=problem number->

<head>

	<title>Cory Graddy's Euler Solutions</title>
	<link href="style.css" type="text/css" rel="stylesheet"/>
	<link href="script.css" type="text/javascript" rel="stylesheet"/>
</head>
<body>

<h1>Cory Graddy's Euler Problem Solutions</h1>
<h2>Problem Number ?</h2>
<p>"Problem Description"</p>
<form action="link to js code file">

	<p>Input Number

		<input type="text" name="inputNum" size="15"/>
		<input type="submit" name="run" value="Run"/>

	</p>

</form>
<div class="result">Result is...</div>
<code>"your code"</code>
</body>